.hero {
    height: 100vh;
    background-image: url(../img/atardecer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    .heroContenido {
        width: 60%;
        background-color: $colorFondo;
        border-radius: .5rem;

        .tamanioFuente {
            font-size: $tamanioFuente;
        }
        .lista {
            padding-left: 1rem;
            text-align: left;
        }
    }

}




