.footer {
    background-color: #666666;
    padding: .5rem;
    display: flex;
    /*align-items: certer;*/
    justify-content:space-between;
    
    .instagram, .whatsapp {
        width: 2rem;
    }
}

