.backgroundMenu {
    background-color: #666666;
    .logo {
        width: 5rem;
        transition: width 1s ease;
    }
    .logo:hover {
        width: 6.5rem;
    }
        
    .menu_item {
        color: #02305c;
        text-decoration: solid;
        font-family: "Montserrat", sans-serif;
    }
    .menu_item a:hover {
        color: #f60101;
        text-decoration: underline double;  
    }
    .menu_item.active {
        color: #f60101;  
    }
    .active {
        text-decoration: solid;
    }   
}