
/*  Variable para fondo de párrafos  */
$colorFondo: #ffffff2c;

/*  Variable para fondo de párrafos más opaco */
$colorFondoFuerte: #a9acb3b3;
/*  Variable para tamaño de fuente */
$tamanioFuente: 2rem;
